Repository Easy-Online-Office/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

.lintstagedrc.json:

{
  "*.{html,css,js,json,md,yml,yaml}": [
    "prettier -w"
  ],
  "*.js": [
    "eslint --max-warnings=0"
  ],
  "*.html": [
    "node tools/validate-html.js"
  ]
}

Update referrals.js
  referral-api/src/functions/referrals.js
Due: prettier -w, eslint --max-warnings=0

Implement APIM referral policy with security controls
  infra/referral-edge/apim-referral-policy.xml
Due: none

Update deploy-referral-api.yml
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

Add README for EasyFile referral edge controls
  infra/referral-edge/README.md
Due: prettier -w

...
  Deploy-EasyFileReferralProduction-v2.ps1
  Deploy-EasyFileReferralProduction.ps1
Due: none

chore: synchronize EasyFile navigation
  about.html
  contact.html
  privacy.html
  terms.html
Due: prettier -w, node tools/validate-html.js
