Repository Easy-Online-Office/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

.lintstagedrc.json:

{
  "*.{html,css,js,json,md,yml,yaml}": [
    "prettier -w"
  ],
  "*.js": [
    "eslint --max-warnings=0"
  ],
  "*.html": [
    "node tools/validate-html.js"
  ]
}

fix: push synchronized navigation from main branch
  .github/workflows/sync-nav.yml
Due: prettier -w

Fix detached HEAD in navigation workflow
  .github/workflows/sync-nav.yml
Due: prettier -w

chore: synchronize EasyFile navigation
  easy-addons.html
  easy-approvals.html
  easy-asset-management.html
  easy-assets-register.html
  easy-audit.html
  easy-bill.html
  easy-budgets.html
  easy-cashflow.html
  easy-contracts.html
  easy-converter-enterprise.html
  easy-converter.html
  easy-credit-control.html
  easy-crm.html
  easy-expenses.html
  easy-insights.html
  easy-inventory.html
  easy-invoice.html
  easy-job-card.html
  easy-leave.html
  easy-payroll.html
  easy-popia.html
  easy-pos.html
  easy-projects.html
  easy-purchase-order.html
  easy-quote.html
  easy-receipt.html
  easy-sales-order.html
  easy-site-inspection.html
  easy-statement.html
  easy-vat.html
  index.html
  index_01.html
Due: prettier -w, node tools/validate-html.js

brand: use white EasyFile logo in navigation
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

brand: use black EasyFile logo in light headers
  partials/easy-header.html
Due: prettier -w, node tools/validate-html.js

brand: apply EasyFile logo variants at runtime
  assets/js/easy-suite-core.js
Due: prettier -w, eslint --max-warnings=0

brand: synchronize EasyFile logos and favicons
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

brand: inject colour-aware EasyFile favicons
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

docs: define EasyFile light and dark logo variants
  brand/BRAND-GUIDELINES.md
Due: prettier -w

Use EasyFile light and dark logo variants
  assets/js/easy-suite-core.js
  brand/BRAND-GUIDELINES.md
  partials/easy-header.html
  partials/easy-nav.html
  scripts/sync-nav.js
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

brand: normalize social metadata to EasyFile logo
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Normalize EasyFile social logo metadata
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

chore: synchronize EasyFile navigation
  easy-converter-enterprise.html
  easy-converter.html
  index.html
Due: prettier -w, node tools/validate-html.js

Add files via upload
  1.png
  README-banner.png
  laptop.png
Due: none

feat: add responsive coded EasyFile hero banner
  easyfile-banner.html
Due: prettier -w, node tools/validate-html.js

Fix injected nav and responsive banner layout
  easyfile-banner.html
Due: prettier -w, node tools/validate-html.js

chore: synchronize EasyFile navigation
  easyfile-banner.html
Due: prettier -w, node tools/validate-html.js

Add shared actions for every EasyFile module
  assets/js/easyfile-module-actions.js
Due: prettier -w, eslint --max-warnings=0

Load shared actions across EasyFile modules
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Fix repeated mojibake in EasyFile HTML content
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

chore: synchronize EasyFile navigation
  easy-job-card.html
Due: prettier -w, node tools/validate-html.js

feat: add shared EasyFile interface styles
  assets/css/easyfile-site.css
Due: prettier -w

feat: apply shared EasyFile layout and styling hooks
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

style: apply canonical EasyFile navigation class
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

feat: standardize complete action toolbar across modules
  assets/js/easyfile-module-actions.js
Due: prettier -w, eslint --max-warnings=0

feat: include every EasyFile module in shared navigation
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

fix: preserve dark preview action styling
  assets/css/easyfile-site.css
Due: prettier -w

chore: synchronize EasyFile navigation
  easy-addons.html
  easy-approvals.html
  easy-asset-management.html
  easy-assets-register.html
  easy-audit.html
  easy-bill.html
  easy-budgets.html
  easy-cashflow.html
  easy-contracts.html
  easy-converter-enterprise.html
  easy-converter.html
  easy-credit-control.html
  easy-crm.html
  easy-expenses.html
  easy-insights.html
  easy-inventory.html
  easy-invoice.html
  easy-job-card.html
  easy-leave.html
  easy-payroll.html
  easy-popia.html
  easy-pos.html
  easy-projects.html
  easy-purchase-order.html
  easy-quote.html
  easy-receipt.html
  easy-sales-order.html
  easy-site-inspection.html
  easy-statement.html
  easy-vat.html
  easyfile-banner.html
  index.html
  index_01.html
Due: prettier -w, node tools/validate-html.js

style: match EasyFile footer to top navigation
  assets/css/easyfile-footer.css
Due: prettier -w

style: apply canonical footer hooks site-wide
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

feat: add referral scheme configuration
  assets/js/easyfile-referral-config.js
Due: prettier -w, eslint --max-warnings=0

feat: add referral gate interface styles
  assets/css/easyfile-referrals.css
Due: prettier -w

feat: enforce one-use referral access across modules
  assets/js/easyfile-referrals.js
Due: prettier -w, eslint --max-warnings=0

feat: add EasyFile referral dashboard
  referrals.html
Due: prettier -w, node tools/validate-html.js

chore: synchronize EasyFile navigation
  referrals.html
Due: prettier -w, node tools/validate-html.js

feat: load referral access gate across EasyFile
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

feat: add referrals to global navigation
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

feat: scaffold Azure referral API
  referral-api/package.json
Due: prettier -w
