Repository Easy-Online-Office/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

feat: add structured bank statement parser engine
  assets/js/bank-statement/easy-bank-parser-engine.js
Due: prettier -w, eslint --max-warnings=0

feat: add converter state and reconciliation validation
  assets/js/bank-statement/converter-state.js
Due: prettier -w, eslint --max-warnings=0

feat: add transaction review and Sage exports
  assets/js/bank-statement/converter-review-export.js
Due: prettier -w, eslint --max-warnings=0

feat: activate structured statement converter
  assets/js/easy-bank-statement-converter-v2.js
Due: prettier -w, eslint --max-warnings=0

refactor: load bank statement converter v2
  assets/js/easy-bank-statement-converter.js
Due: prettier -w, eslint --max-warnings=0

fix: normalise compound PDF table headers
  assets/js/bank-statement/normalise-header-items.js
Due: prettier -w, eslint --max-warnings=0

fix: normalise parser header anchors before conversion
  assets/js/easy-bank-statement-converter-v2.js
Due: prettier -w, eslint --max-warnings=0

fix: add corpus-driven bank parser v3
  assets/js/bank-statement/easy-bank-parser-engine-v3.js
Due: prettier -w, eslint --max-warnings=0

fix: route converter through parser v3
  assets/js/easy-bank-statement-converter-v2.js
Due: prettier -w, eslint --max-warnings=0

Fix bank statement parsing using multi-bank PDF corpus
  assets/js/bank-statement/easy-bank-parser-engine-v3.js
  assets/js/easy-bank-statement-converter-v2.js
Due: prettier -w, eslint --max-warnings=0

Harden referral client configuration
  assets/js/easyfile-referral-config.js
Due: prettier -w, eslint --max-warnings=0

Harden referral access gate
  assets/js/easyfile-referrals.js
Due: prettier -w, eslint --max-warnings=0

Add referral integration validation
  scripts/validate-referrals.mjs
Due: none

Add referral quality workflow
  .github/workflows/referral-quality.yml
Due: prettier -w

Document production referral API contract
  docs/referral-api-production-contract.md
Due: prettier -w

Clarify secure referral behavior
  referrals.html
Due: prettier -w, node tools/validate-html.js

Document hardened referral access
  README.md
Due: prettier -w

Harden referral API concurrency and identity controls
  referral-api/src/functions/referrals.js
Due: prettier -w, eslint --max-warnings=0

Add referral API security unit tests
  referral-api/test/referrals.test.js
Due: prettier -w, eslint --max-warnings=0

Run referral API security tests in validation
  referral-api/package.json
Due: prettier -w

Add secure referral API settings template
  referral-api/local.settings.example.json
Due: prettier -w

Document referral API v2 production controls
  referral-api/README.md
Due: prettier -w

Validate and health-check referral API deployments
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

Run referral API validation on pull requests
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

Harden referral access and add production validation (#29)
  .github/workflows/deploy-referral-api.yml
  .github/workflows/referral-quality.yml
  README.md
  assets/js/easyfile-referral-config.js
  assets/js/easyfile-referrals.js
  docs/referral-api-production-contract.md
  referral-api/README.md
  referral-api/local.settings.example.json
  referral-api/package.json
  referral-api/src/functions/referrals.js
  referral-api/test/referrals.test.js
  referrals.html
  scripts/validate-referrals.mjs
Due: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

Use OIDC for Flex Consumption referral API deployment
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

Fix referral API endpoint
  assets/js/easyfile-referral-config.js
Due: prettier -w, eslint --max-warnings=0

Acknowledge referral link outcomes
  assets/js/easyfile-referrals.js
Due: prettier -w, eslint --max-warnings=0

Add referral sharing and verified invitations
  referrals.html
Due: prettier -w, node tools/validate-html.js

Style referral sharing and verification
  assets/css/easyfile-referrals.css
Due: prettier -w

Configure referral email verification client
  assets/js/easyfile-referral-config.js
Due: prettier -w, eslint --max-warnings=0

Implement referral sharing and email verification
  assets/js/easyfile-referrals.js
Due: prettier -w, eslint --max-warnings=0

Add referral OTP and invitation endpoints
  referral-api/src/functions/referrals.js
Due: prettier -w, eslint --max-warnings=0

Test referral email security helpers
  referral-api/test/referrals.test.js
Due: prettier -w, eslint --max-warnings=0

Add Azure email dependency
  referral-api/package.json
Due: prettier -w

Document referral email settings
  referral-api/local.settings.example.json
Due: prettier -w

Document referral OTP and invitations
  referral-api/README.md
Due: prettier -w

Validate referral sharing integration
  scripts/validate-referrals.mjs
Due: none

Lock referral API dependencies
  referral-api/package-lock.json
Due: prettier -w

Update README.md
  referral-api/README.md
Due: prettier -w

Path conditions:
  prettier -w: any of: *.{html,css,js,json,md,yml,yaml}
  eslint --max-warnings=0: any of: *.js
  node tools/validate-html.js: any of: *.html
