Repository Easy-Online-Office/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

feat: configure Azure Functions referral API host
  referral-api/host.json
Due: prettier -w

docs: add referral API local settings example
  referral-api/local.settings.example.json
Due: prettier -w

feat: implement server-authoritative referral entitlement API
  referral-api/src/functions/referrals.js
Due: prettier -w, eslint --max-warnings=0

ci: add Azure referral API deployment workflow
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

docs: add referral API deployment and behaviour guide
  referral-api/README.md
Due: prettier -w

fix: submit referral identity form from generated button
  assets/js/easyfile-referral-compat.js
Due: prettier -w, eslint --max-warnings=0

fix: load referral identity compatibility hook
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

fix: avoid npm cache dependency on absent lockfile
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

chore: ignore referral API local files
  .gitignore
Due: none

ci: skip referral deployment until Azure settings exist
  .github/workflows/deploy-referral-api.yml
Due: prettier -w

chore: synchronize EasyFile navigation
  easy-addons.html
  easy-approvals.html
  easy-asset-management.html
  easy-assets-register.html
  easy-audit.html
  easy-bill.html
  easy-budgets.html
  easy-cashflow.html
  easy-contracts.html
  easy-converter-enterprise.html
  easy-converter.html
  easy-credit-control.html
  easy-crm.html
  easy-expenses.html
  easy-insights.html
  easy-inventory.html
  easy-invoice.html
  easy-job-card.html
  easy-leave.html
  easy-payroll.html
  easy-popia.html
  easy-pos.html
  easy-projects.html
  easy-purchase-order.html
  easy-quote.html
  easy-receipt.html
  easy-sales-order.html
  easy-site-inspection.html
  easy-statement.html
  easy-vat.html
  easyfile-banner.html
  index.html
  index_01.html
  referrals.html
Due: prettier -w, node tools/validate-html.js

Add responsive global navigation styles
  assets/css/easyfile-navigation.css
Due: prettier -w

Redesign global topbar navigation
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Make banner design the main landing page
  index.html
Due: prettier -w, node tools/validate-html.js

Redirect legacy banner page to the homepage
  easyfile-banner.html
Due: prettier -w, node tools/validate-html.js

Update README for EasyFile landing page and banner
  README.md
Due: prettier -w

Add EasyFile README banner artwork
  easyfile-banner.svg
Due: none

Point README to the new SVG banner
  README.md
Due: prettier -w

Use the repository SVG banner for social previews
  index.html
Due: prettier -w, node tools/validate-html.js

chore: synchronize EasyFile navigation
  easyfile-banner.html
  index.html
Due: prettier -w, node tools/validate-html.js

Simplify EasyFile brand markup and remove nav wrapper
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Remove duplicate landing page navigation wrappers
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Fix EasyFile landing page navigation markup
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Use simplified EasyFile brand topbar source
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

Remove legacy nav wrappers during source injection
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Validate neutral EasyFile topbar containers
  tools/validate-html.js
Due: prettier -w, eslint --max-warnings=0

Preserve current navigation runtime cleanup
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

feat: add bank statement converter module
  easy-bank-statement-converter.html
Due: prettier -w, node tools/validate-html.js

style: add bank converter interface
  assets/css/easy-bank-statement-converter.css
Due: prettier -w

chore: synchronize EasyFile navigation
  easy-bank-statement-converter.html
Due: prettier -w, node tools/validate-html.js

feat: implement browser PDF transaction parser
  assets/js/easy-bank-statement-converter.js
Due: prettier -w, eslint --max-warnings=0

docs: document bank statement converter
  README.md
Due: prettier -w

fix: preserve parser offsets when cleaning rows
  assets/js/easy-bank-statement-converter.js
Due: prettier -w, eslint --max-warnings=0

feat: expose bank converter in global navigation
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Delete index_01.html
  index_01.html
Due: prettier -w, node tools/validate-html.js

Delete normalize-easy-suite.ps1
  normalize-easy-suite.ps1
Due: none

Path conditions:
  prettier -w: any of: *.{html,css,js,json,md,yml,yaml}
  eslint --max-warnings=0: any of: *.js
  node tools/validate-html.js: any of: *.html
