Repository Easy-Online-Office/site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint --max-warnings=0, node tools/validate-html.js

.lintstagedrc.json:

{
  "*.{html,css,js,json,md,yml,yaml}": [
    "prettier -w"
  ],
  "*.js": [
    "eslint --max-warnings=0"
  ],
  "*.html": [
    "node tools/validate-html.js"
  ]
}

Create repair-html.js
  tools/repair-html.js
Due: prettier -w, eslint --max-warnings=0

Update index.html
  index.html
Due: prettier -w, node tools/validate-html.js

Update easy-invoice.html
  easy-invoice.html
Due: prettier -w, node tools/validate-html.js

Add files via upload
  easy-addons.html
  easy-approvals.html
  easy-assets-register.html
  easy-audit.html
  easy-bill.html
  easy-budgets.html
  easy-cashflow.html
  easy-contracts.html
  easy-credit-control.html
  easy-expenses.html
  easy-insights.html
  easy-leave.html
  easy-popia.html
  easy-pos.html
  easy-projects.html
  easy-vat.html
Due: prettier -w, node tools/validate-html.js

Create inject-nav.js
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Update sync-nav.js
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Update sync-nav.yml
  .github/workflows/sync-nav.yml
Due: prettier -w

Create check-links.js
  tools/check-links.js
Due: prettier -w, eslint --max-warnings=0

Create generate-sitemap.js
  tools/generate-sitemap.js
Due: prettier -w, eslint --max-warnings=0

Create validate-seo.js
  tools/validate-seo.js
Due: prettier -w, eslint --max-warnings=0

Create validate-carbon.je
  tools/validate-carbon.je
Due: none

Create quality-gate.yml
  .github/workflows/quality-gate.yml
Due: prettier -w

Rename index.html to index_01.html
  index_01.html
Due: prettier -w, node tools/validate-html.js

Add files via upload
  index-enhanced.html
Due: prettier -w, node tools/validate-html.js

Rename index-enhanced.html to index.html
  index.html
Due: prettier -w, node tools/validate-html.js

Add files via upload
  easy-converter.html
Due: prettier -w, node tools/validate-html.js

Add files via upload
  easy-converter-enterprise.html
Due: prettier -w, node tools/validate-html.js

Add async Google Ads script to index.html
  index.html
Due: prettier -w, node tools/validate-html.js

Use EasyFile icon in shared navigation
  partials/easy-nav.html
Due: prettier -w, node tools/validate-html.js

Apply EasyFile logo through shared core
  assets/js/easy-suite-core.js
Due: prettier -w, eslint --max-warnings=0

Enforce EasyFile logo on legacy navigation
  scripts/sync-nav.js
Due: prettier -w, eslint --max-warnings=0

Add EasyFile brand design tokens
  assets/css/easyfile-brand-tokens.css
Due: prettier -w

Document EasyFile brand system
  brand/BRAND-GUIDELINES.md
Due: prettier -w

Add files via upload
  icon-blue.svg
  icon-white.svg
  logo-b.png
Due: none

Fix navigation injection and legacy HTML cleanup
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Add repository-aware HTMLHint configuration
  .htmlhintrc
Due: none

Make quality gate work for a static site
  .github/workflows/quality-gate.yml
Due: prettier -w

Repair navigation validation and Pages deployment
  .github/workflows/sync-nav.yml
Due: prettier -w

Skip Terraform safely when no configuration exists
  .github/workflows/terraform.yml
Due: prettier -w

Replace corrupted dashboard with valid EasyFile homepage
  index.html
Due: prettier -w, node tools/validate-html.js

Normalize duplicate main wrappers during nav injection
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Replace brittle HTMLHint wrapper with structural validator
  tools/validate-html.js
Due: prettier -w, eslint --max-warnings=0

Use structural validator for tag pairing
  .htmlhintrc
Due: none

Add structural validation to the quality gate
  .github/workflows/quality-gate.yml
Due: prettier -w

Add structural validation to nav enforcement
  .github/workflows/sync-nav.yml
Due: prettier -w

Target the outer body when injecting shared navigation
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0

Handle inline ES modules during structural validation
  tools/validate-html.js
Due: prettier -w, eslint --max-warnings=0

Report precise inline JavaScript validation locations
  tools/validate-html.js
Due: prettier -w, eslint --max-warnings=0

Repair the legacy statement escape map during normalization
  tools/inject-nav.js
Due: prettier -w, eslint --max-warnings=0
